.timer--background__color {
    background: #222;
    width:20vw;
    height:15vh;
    position: absolute;
    top:10vh;
    left:75vw;
    border:6px solid black;
    border-radius: 6px;
}

.timer--number__container {
    width:100%;
    height:100%;
    font-size:80px;
    color:rgb(39,250,0);
    letter-spacing: 3px;
    text-align:right;
    padding-top:5px;
    margin-right:15px;
}

.timer--number__font {
    font-family:'Pangolin','Russo One', sans-serif;
}